@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$theme-colors: (
  primary: $purple,
);

@import "../node_modules/bootstrap/scss/bootstrap";

th {
  text-transform: capitalize;
}

.form-control[data-readonly] {
  pointer-events: none;
}

h2 {
  font-weight: 700;
  letter-spacing: 1.5px;
}
